/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*Card*/

.card {
    height: 350px;
    border-radius: 5%;
}

.card.providers{
    height: 100px;
}

.card img {
    width: 100%;
    height: 80%;
    border-radius: inherit;
}

.card:hover {
    background-color: #b1dae7;
}

.card-selected {
background-color: #b1dae7;
}

.card .container {
    padding: 2px 16px;
    border-top: 1px solid rgba(0,0,0,.125);
}

.modal-header {
    background-color: #b1dae7;
}

#clothes, #providers {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
}

/*Loader*/

.lds-ring {
    display: inline-block;
    position: fixed;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: fixed;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #b1dae7;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #b1dae7 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Order ticket */

#register {
    width: 20em;
    margin: auto;
}

#ticket {
    background: white;
    margin: 0 1em;
    padding: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
}

#ticket h1 {
    text-align: center;
}

#ticket table {
    font-family: monospace;
    width: 100%;
    border-collapse: collapse;
}

#ticket td, #ticket th {
    padding: 5px;
}

#ticket th, #ticket td {
    text-align: left;
}

#ticket #total {
    text-align: right;
}

#ticket tfoot th {
    border-top: 1px solid black;
}

/*Buttons*/

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.cta:focus {
    outline:none;
}

.list-item{
    padding: 2% 0%;
}

body {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(255 255 255) 0%, rgb(222 238 240 / 94%) 55%, rgb(231 239 241 / 93%) 100%);
}